.Email-submit {
    margin: 10px auto;
    outline: none;
    border: 1px solid rgba(0,230,0,0.8);
    color: white;
    font-family: "Montserrat";
    border-radius: 50%;
    background: rgba(0,230,0,0.8);
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.Email-submit:hover, .Email-submit:focus {
    box-shadow: 0 7px 7px rgba(0,0,0,0.22);
}

.Location p {
    color: rgba(255,0,0,0.8);
    margin-top: 10px;
}