.Done {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 0 10%;
    padding-bottom: 10%;
    text-align: center;
}

.Done h1 {
    margin-bottom: 0;
    opacity: 0;
    animation: intro 0.3s ease-out forwards;
}

.Done p {
    /* font-family: monospace; */
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 0, 0, 0.8);
    font-style: italic;
    opacity: 0;
    animation: intro 0.3s ease-out forwards;
}

.Done div {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-bottom: -150px;
    background-color: rgba(0, 200, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bolder;
    color: white;
    opacity: 0;
    animation: intro 0.3s ease-out forwards;
}

.Done img {
    /* max-width: 90%; */
    opacity: 0;
    animation: intro 0.3s ease-out forwards;
}

.Done span {
    animation: tick 2s linear forwards 1s;
}

@keyframes tick {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(1);
    }
    40% {
        transform: scale(0);
    }
    60% {
        transform: scale(0);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
